@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*buttons */

.btn {
  @apply font-bold py-2 px-4 rounded text-sm focus:outline-none;
}
.btn-select {
  @apply font-bold py-2 px-4 rounded-2xl text-xs focus:outline-none;
}

.btn-sty-1 {
  @apply bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-full focus:outline-none;
}

.btn-indigo {
  @apply bg-indigo-400 text-white;
}

.btn-indigo:hover {
  @apply bg-indigo-500;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(63, 178, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgb(102, 102, 102);
  border-radius: 1rem;
}
