@tailwind base;
@tailwind components;
@tailwind utilities;


/*buttons */

.btn {
    @apply font-bold py-2 px-4 rounded; 
}

.btn-next-prev {
    @apply bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-md;
}

.btn-yellow {
    @apply bg-yellow-400 text-white;
}

.btn-yellow:hover {
    @apply bg-yellow-500; 
}


